.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  background: #18626e57;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #53b819;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 0.75;
  font-size: 3rem;
}

.title,
.description {
  text-align: left;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #0f2cad;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  background-color: #245a45;
  display: flex;
}

.card {
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b418c9;
  border-radius: 1px;
  transition: color 0.5s ease, border-color 0.15s ease;
  max-width: 100%;
  min-width: 31.55%;
}
.cardners {
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #11a754;
  border-radius: 1px;
  transition: color 0.5s ease, border-color 0.15s ease;
  min-width: 100px;
  margin: 5px;
  float: left;
}
.contentbar {
  background-color: #cab9b95e;
  border: 5px solid #665db6;
  border-radius: 1px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

.sidebar {
  background-color: #cab9b95e;
  border: 5px solid rgb(48, 165, 211);
  border-radius: 1px;
  padding: 5px;
  margin: 5px;
  width: 20%;
}
.content {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 2500px;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #73c416;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container1 {
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
  }
  @font-face {
    font-family: "font";
    src: url("/font.ttf");
    font-weight: 400;
    font-style: normal;
  }
}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
